.btn-primary {
    color: #fff;
    background-color: #005fbd;
    border-color: solid white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0d345c;
    border-color: white;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.modal-header {
    background-color: #005fbd;
}

.modal-title {
    color: white;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5}
    
*{
    font-family: 'Montserrat';
}

.bg-primary {
    background-color: #005fbd !important;
}

.wrapper > div{
    padding: 1em;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    
}

.recent-updates-header {
    background: #c7dfff;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
}

#recent-updates-heading {
    margin-top: 10pt;
    font-size: 28pt;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.recent-updates-notifications {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;
    
}

#recent-updates-notifications-text {
    font-size: 18pt;
    text-align: center;
    justify-content: center;
    align-items: center;
}


table {
    border-collapse:separate;
    border:solid #005fbd;
    border-radius:6px;
    -moz-border-radius:6px;
    text-align: center;
    border-spacing: 0px;
}

td, th {
    border-left:solid #005fbd;
    border-top:solid #005fbd;
    text-align: center;
    padding: 0.5em 1em;
    padding: 1em;
}

th {
    
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

@media (max-width:768px) {

    table, th, td {
        text-align: center;
        border: 0.5px solid #005fbd;
        padding: 0rem;
        overflow-x: auto;
        overflow-y: auto;
        font-size:9pt;
      }
      td {
        width:0.1%;
        white-space: wrap;
        }
        td:first-child, th:first-child {
            border-left: 0.5px solid #005fbd;
       }
  }
